.navbar .links {
    padding-left: 0;
}

.navbar .logo, #footer .logo {
    background: transparent url(images/logo.png) no-repeat;
    background-size: 100%;
    margin: 10px;
    height: 80px;
    display: inline-block;
}

.navbar .logo {
    height: 80px;
}

#durham-logo {
    background-image: url('images/durham-logo.png');
    width: 190px;
}

#footer #arc-logo {
    background-image: url('images/arc-logo.png');
    width: 80px;
    border-radius: 40px;
}

#footer #cecan-logo {
    background-image: url('images/cecan-logo.png');
    width: 160px;
}

#footer #complex-it-logo {
    background-image: url('images/complex-it-logo.png');
    width: 156px;
}

#footer #health-soc-logo {
    background-image: url('images/health-soc-logo.png');
    width: 250px;
}

#footer #maths-logo {
    background-image: url('images/maths-logo.png');
    width: 138px;
}

#footer #wolfson-logo {
    background-image: url('images/wolfson-logo.png');
    width: 159px;
}

body {
    font-size: 11pt;
}

body, h1, #footer {
    font-family: 'Open Sans', sans-serif;
    color: #002A41;
}

a {
    color: #68246D;
}

p.spaced {
    margin-top: 36px;
}

#page {
    background-color: white;
    margin-bottom: 100px;
}

#footer {
    background-color: rgba(104,36,109,0.05);
    font-size: 9pt;
}
